/*background image, font color and size*/
body {
  background-image: url("https://i.pinimg.com/originals/71/0b/5e/710b5ecc73d6e54ba07eb693a0a86bf0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  {
    opacity: 0.5.;
    filter: alpha(opacity=0); /* For IE8 and earlier */
  }
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  font-size: 54;
}

/*Navigation bar*/
.navbar {
  overflow: hidden;
  background-color: #333;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 3px; /* Add a top margin to avoid content overlay */
}

/* Styled box */
.box {
  display: flex;
  flex:1;
  flex-flow: row wrap;
  padding: 100px;
}