<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">
  <title>Template</title>

  <!-- Homepage link -->
  <base href="https://www.ocf.berkeley.edu/~sakishima/template/">

  <!-- CSS -->
  <link rel="stylesheet" href="webapp/css/style.css">

  <!-- Navigation bar -->
  <div id="nav" class="navbar"></div>

</head>

<body>

  <center>

    <!-- Image at the top -->
    <h1><img src="webapp/css/ooritaboori.jpeg" alt="おーりとーり" width="600"></h1>

  </center> 

  <!-- Heading for page -->
  <h1><center>Page</center></h1>

  <!-- Text for the page -->
  <div class="box">

    <!-- Use <p> to create a paragraph -->
    <p>Some text</p>

    <!-- Making a table -->
    <table>

      <!-- Table headers -->
      <th>Heading A</th>
      <th>Heading B</th>

      <!-- Table row 1 -->
      <tr>
        <!-- Content under heading 1 -->
        <td>A1</td>
        <!-- Content under heading 2 -->
        <td>B1</td>
      </tr>

      <!-- Table row 2 -->
      <tr>
        <!-- Content under heading 1 -->
        <td>A2</td>
        <!-- Content under heading 2 -->
        <td>B2</td>
      </tr>

    </table>

  </div>

  <!-- Scripts -->

  <!-- JQUERY-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- Javascript -->
  <script src="webapp/js/addnavbar.js"></script>

</body>

<!--OCF logo-->
<a href="https://www.ocf.berkeley.edu">
    <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg" alt="Hosted by the OCF" width="60" height="30"style="border: 0;" />
</a>