<!doctype html>

<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Lesson 1: Uree noo-kayaa?</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../webapp/css/lessonstyle.css">
    <link rel="stylesheet" href="../../webapp/libraries/reveal.js-master/dist/reset.css">
	<link rel="stylesheet" href="../../webapp/libraries/reveal.js-master/dist/reveal.css">
	<link rel="stylesheet" href="../../webapp/libraries/reveal.js-master/dist/theme/black.css">

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="../../webapp/libraries/reveal.js-master/plugin/highlight/monokai.css">

</head>


<!-- Edit from here on -->
<body>

    <!-- Do not change -->
	<div class="reveal">

        <!-- Do not change -->
		<div class="slides">



			<!-- Title Slide -->
            <!-- Each section ID will be a link in the table of contents -->
			<section id="title">

                <!-- Change lesson number here -->
                <h2>Lesson 1</h2>
                
                <!-- Insert title audio after javascript:soundfile to play upon clicking -->
                <!-- Change lesson title in the <h2> tag -->
                <span style="cursor:pointer" onclick="javascript:soundfile('aud/whatisthis.wav')">
                    <!-- Insert title audio in src to autoplay-->
                    <audio data-autoplay src="aud/whatisthis.wav"></audio>
                    <h2>Uree <span style="color:red">noo</span>-kajaa?</h2>
                </span>
                
                <br>
            
            </section>

            <!-- Table of Contents-->
            <!--  -->

            <section id="contents">
                <a href="..">Lessons</a>
                <br>
                <a href="#/vocab1">Vocabulary 1</a>
                <br>
                <a href="#/grammar1">Grammar 1</a>
                <br>
                <a href="#/practice1">Practice 1</a>
                <br>
                <a href="#/vocab2">Vocabulary 2</a>
                <br>
                <a href="#/grammar2">Conversation</a>
                <br> 
                <a href="#/vocabreview">Vocabulary Review</a>
                <br>
                <a href="review.html">Review</a>                   
            </section>

            <!-- Vocabulary 1: Queston-Answer -->

            <section id="vocab1">

                <!-- This text will show up at the top -->
                Let's learn some vocabulary!

                <!-- The container and col classes should not be changed -->
                <!-- You can change the data-fragment-index attribute number to change the order of how the pictures appear -->
                <div class="container">

                    <div class="col">

                        <!-- Upper left image -->
                        <!-- Insert audio after javascript:soundfile to play upon clicking -->
                        <span class="fragment" data-fragment-index="1" style="cursor:pointer" onclick="javascript:soundfile('aud/dog.wav')">
                            <!-- Put same audio in src-->
                            <audio data-fragment-index="1" data-autoplay src="aud/dog.wav"></audio>
                            <figure>
                                <!-- Put image in src -->
                                <img width="40%" src="img/dog.png">
                                <!-- Insert figure caption here -->
                                <figcaption>in</figcaption>
                            </figure>
                        </span>

                        <!-- Bottom left image -->
                        <span class="fragment" data-fragment-index="2" style="cursor:pointer" onclick="javascript:soundfile('aud/cat.wav')">
                            <audio data-fragment-index="2" data-autoplay src="aud/cat.wav"></audio>
                            <figure>
                                <img width="40%" src="img/cat.png">
                                <figcaption>majaa</figcaption>
                            </figure>
                        </span>

                    </div>

                    <div class="col">

                        <!-- Upper right image -->
                        <span class="fragment" data-fragment-index="3" style="cursor:pointer" onclick="javascript:soundfile('aud/banana.wav')">
                        <audio data-fragment-index="3" data-autoplay src="aud/banana.wav"></audio>
                        <figure>
                            <img width="40%" src="img/banana.png">
                            <figcaption>syma basonnary</figcaption>
                        </figure>
                        </span>

                        <!-- Bottom right image -->
                        <span class="fragment" data-fragment-index="4" style="cursor:pointer" onclick="javascript:soundfile('aud/alcohol.wav')">
                        <audio data-fragment-index="4" data-autoplay src="aud/alcohol.wav"></audio>
                        <figure>
                            <img width="40%" src="img/alcohol.png">
                            <figcaption>gushi</figcaption>
                        </figure>
                        </span>
                    </div>

                </div>
                
            </section>





            <!-- Grammar 1: Question-Answer -->

            <section id="grammar1"><h2>Let's learn some grammar!</h2></section>

            <!-- Dog -->
            <section>
                
                <!--  -->
                <span style="cursor:pointer" onclick="javascript:soundfile('aud/whatisthis.wav')">
                    <!-- Autoplays an audio file -->
                    <audio data-autoplay src="aud/whatisthis.wav"></audio>
                    <!-- Sentence -->
                    uree <span style="color:red">noo</span>-kajaa?
                    <br>
                    <!-- Image -->
                    <img width="20%" src="img/dog.png"/> 
                </span>
                
                <br>
                
                <span class="fragment" data-fragment-index="1" style="cursor:pointer" onclick="javascript:soundfile('aud/thisisadog.wav')">
                    <!-- Autoplay audio -->
                    <audio data-autoplay src="aud/thisisadog.wav"></audio>
                    <!-- Sentence -->
                    uree <span style="color:lightgreen">in</span>-ju！
                </span>
            
            </section>

            <!-- Cat -->
            <section>
                
                <span style="cursor:pointer" onclick="javascript:soundfile('aud/whatisthis.wav')">
                    <!-- autoplays an audio file -->
                    <audio data-autoplay src="aud/whatisthis.wav"></audio>
                    uree <span style="color:red">noo</span>-kajaa?
                    <br>
                    <img width="20%" src="img/cat.png"/>
                </span>
                
                <br>
                
                <span class="fragment" data-fragment-index="1" style="cursor:pointer" onclick="javascript:soundfile('aud/thisisacat.wav')">
                    <audio data-autoplay src="aud/thisisacat.wav"></audio>uree <span style="color:lightgreen">majaa</span>-ju！
                </span>                	
             	
            
            </section>

            <!-- Banana -->
            <section>
                
                <span style="cursor:pointer" onclick="javascript:soundfile('aud/whatisthis.wav')">
                    <!-- autoplays an audio file -->
                    <audio data-autoplay src="aud/whatisthis.wav"></audio>
                    uree <span style="color:red">noo</span>-kajaa?
                    <br>
                    <img width="20%" src="img/banana.png"/>
                </span>
                
                <br>
                
                <span class="fragment" data-fragment-index="1" style="cursor:pointer" onclick="javascript:soundfile('aud/thisisabanana.wav')">
                	<audio data-autoplay src="aud/thisisabanana.wav"></audio>
                	uree <span style="color:lightgreen">syma basonnary</span>-ju！
                </span>                	
             	
            
            </section>

            <!-- Alcohol -->
            <section>
                
                <span style="cursor:pointer" onclick="javascript:soundfile('aud/whatisthis.wav')">
                    <!-- autoplays an audio file -->
                    <audio data-autoplay src="aud/whatisthis.wav"></audio>
                    uree <span style="color:red">noo</span>-kajaa?
                    <br>
                    <img width="20%" src="img/alcohol.png"/>
                </span>
                
                <br>
                
                <span class="fragment" data-fragment-index="1" style="cursor:pointer" onclick="javascript:soundfile('aud/thisisalcohol.wav')">
                	<audio data-autoplay src="aud/thisisalcohol.wav"></audio>
                	uree <span style="color:lightgreen">gushi</span>-ju！
                </span>                	
             	
            
            </section>




            <!-- Practice-->

            <section id="practice1"><h2>Let's practice!</h2></section>

            <!-- Dog -->
            <section>
                
                <span class="fragment" data-fragment-index="1" style="color:lightblue">What's your response?</span>

                <br>

                <!--  -->
                <span style="cursor:pointer" onclick="javascript:soundfile('aud/whatisthis.wav')">
                    <!-- autoplays an audio file -->
                    <audio data-autoplay src="aud/whatisthis.wav"></audio>
                    uree <span style="color:red">noo</span>-kajaa?
                    <br>
                    <img width="20%" src="img/dog.png"/> 
                </span>
                
                <br>
                
                <span class="fragment" data-fragment-index="2" style="cursor:pointer" onclick="javascript:soundfile('aud/thisisadog.wav')">
                    <audio data-autoplay src="aud/thisisadog.wav"></audio>
                    uree <span style="color:lightgreen">in</span>-ju！
                </span>
            
            </section>

            <!-- Cat -->
            <section>
                
                <span class="fragment" data-fragment-index="1" style="color:lightblue">What's your response?</span>

                <br>

                <span style="cursor:pointer" onclick="javascript:soundfile('aud/whatisthis.wav')">
                    <!-- autoplays an audio file -->
                    <audio data-autoplay src="aud/whatisthis.wav"></audio>
                    uree <span style="color:red">noo</span>-kajaa?
                    <br>
                    <img width="20%" src="img/cat.png"/>
                </span>
                
                <br>
                
                <span class="fragment" data-fragment-index="2" style="cursor:pointer" onclick="javascript:soundfile('aud/thisisacat.wav')">
                    <audio data-autoplay src="aud/thisisacat.wav"></audio>uree <span style="color:lightgreen">majaa</span>-ju！
                </span>                 
                
            
            </section>

            <!-- Banana -->
            <section>
                
                <span class="fragment" data-fragment-index="1" style="color:lightblue">What's your response?</span>

                <br>

                <span style="cursor:pointer" onclick="javascript:soundfile('aud/whatisthis.wav')">
                    <!-- autoplays an audio file -->
                    <audio data-autoplay src="aud/whatisthis.wav"></audio>
                    uree <span style="color:red">noo</span>-kajaa?
                    <br>
                    <img width="20%" src="img/banana.png"/>
                </span>
                
                <br>
                
                <span class="fragment" data-fragment-index="2" style="cursor:pointer" onclick="javascript:soundfile('aud/thisisabanana.wav')">
                    <audio data-autoplay src="aud/thisisabanana.wav"></audio>
                    uree <span style="color:lightgreen">syma basonnary</span>-ju！
                </span>                 
                
            
            </section>

            <!-- Alcohol -->
            <section>
                
                <span class="fragment" data-fragment-index="1" style="color:lightblue">What's your response?</span>

                <br>

                <span style="cursor:pointer" onclick="javascript:soundfile('aud/whatisthis.wav')">
                    <!-- autoplays an audio file -->
                    <audio data-autoplay src="aud/whatisthis.wav"></audio>
                    uree <span style="color:red">noo</span>-kajaa?
                    <br>
                    <img width="20%" src="img/alcohol.png"/>
                </span>
                
                <br>
                
                <span class="fragment" data-fragment-index="2" style="cursor:pointer" onclick="javascript:soundfile('aud/thisisalcohol.wav')">
                    <audio data-autoplay src="aud/thisisalcohol.wav"></audio>
                    uree <span style="color:lightgreen">gushi</span>-ju！
                </span>                 
                
            
            </section>


            <!-- Vocabulary 2: Conversation -->

            <section id="vocab2">

                <!-- This text will show up at the top -->
                Let's learn some vocabulary!

                <!-- The container and col classes should not be changed -->
                <!-- You can change the data-fragment-index attribute number to change the order of how the pictures appear -->
                <div class="container">

                    <div class="col">

                        <!-- Upper left image -->
                        <!-- Insert audio after javascript:soundfile to play upon clicking -->
                        <span class="fragment" data-fragment-index="1" style="cursor:pointer" onclick="javascript:soundfile('aud/me.wav')">
                            <!-- Put same audio in src-->
                            <audio data-autoplay src="aud/me.wav"></audio>
                            <figure>
                                <!-- Put image in src -->
                                <img width="40%" src="img/woman_gesture_me.png">
                                <!-- Insert figure caption here -->
                                <figcaption>baa</figcaption>
                            </figure>
                        </span>

                        <!-- Bottom left image -->
                        <span class="fragment" data-fragment-index="2" style="cursor:pointer" onclick="javascript:soundfile('aud/you.wav')">
                            <audio data-autoplay src="aud/you.wav"></audio>
                            <figure>
                                <img width="40%" src="img/woman_gesture_you.png">
                                <figcaption>waa</figcaption>
                            </figure>
                        </span>

                    </div>

                    <div class="col">

                        <!-- Upper right image -->
                        <span class="fragment" data-fragment-index="3" style="cursor:pointer" onclick="javascript:soundfile('aud/uree.wav')">
                        <audio data-autoplay src="aud/uree.wav"></audio>
                        <figure>
                            <img width="40%" src="img/3sg.png">
                            <figcaption>uree</figcaption>
                        </figure>
                        </span>

                        <!-- Bottom right image -->
                        <span class="fragment" data-fragment-index="4" style="cursor:pointer" onclick="javascript:soundfile('aud/speak.wav')">
                        <audio data-autoplay src="aud/speak.wav"></audio>
                        <figure>
                            <img width="40%" src="img/man_portrait_speech.gif">
                            <figcaption>anzy</figcaption>
                        </figure>
                        </span>
                        
                    </div>

                </div>
                
            </section>


            <!-- Grammar 2 : Conversation -->

            <section id="grammar2"><h2>Let's learn some conversation!</h2></section>

            <!-- Introduce self -->
            <section>

                <div class="container">

                    <!-- Left column -->
                    <div class="col">
                        <span style="cursor:pointer" onclick="javascript:soundfile('aud/iamhidee.wav')">
                        <audio data-autoplay src="aud/iamhidee.wav"></audio>
                        <figure>
                            <img width="40%" src="img/woman_portrait_speaking_self.gif">
                            <figcaption style="font-size:75%"><span style="color:lightgreen">baa</span>-ja Hidee<span style="color:red">-di-du</span> <span style="color:lightgreen">anzy</span>-ju。</figcaption>
                        </figure>
                        </span>
                    </div>

                    <!-- Right column -->
                    <div class="col">
                        <span class="fragment" data-fragment-index="1" style="cursor:pointer" onclick="javascript:soundfile('aud/iamtanee.wav')">
                        <audio data-autoplay src="aud/iamtanee.wav"></audio>
                        <figure>
                            <img width="40%" src="img/man_portrait_speaking_self.gif">
                            <figcaption style="font-size:75%"><span style="color:lightgreen">baa</span>-ja Tanee<span style="color:lightgreen">-di-du</span> <span style="color:lightgreen">anzy</span>-ju。</figcaption>
                        </figure>
                        </span>
                    </div>

                </div>

            </section>

            <!-- Introduction Conversation -->

            <section>

                <div class="container">
                    
                    <!-- Left column: the female speaker -->
                    <div class="col">

                        <!-- Pseudo-animation--changes images with each index -->
                        <div class="r-stack">

                            <!-- Each figure is a different image you want in the "animation" -->
                            <!-- Fragment transitions -->
                            <!-- * fragment: tells the fragment to appear at this index -->
                            <!-- * fade-out: tells the fragment to disappear at this index -->
                            <!-- * current-visible: tells the fragment to appear ONLY at this index -->

                            <!-- Audio -->
                            <span style="cursor:pointer" onclick="javascript:soundfile('aud/iamhidee.wav')">
                            <audio data-autoplay src="aud/iamhidee.wav"></audio>

                            <figure class="fragment fade-out" data-fragment-index="0">

                                <!-- Image -->
                                <img src="img/woman_profile_speaking_bubble_gesture_me-right.gif">
                                
                                <!-- Caption underneath -->
                                <figcaption style="font-size:50%"><span style="color: lightgreen";>baa</span>-ja　Hidee<span style="color: red">-di-du</span> <span style="color:lightgreen">anzy</span>-ju</figcaption>
                            
                            </figure>
                            
                            <figure class="fragment current-visible" data-fragment-index="0">

                                <span style="cursor:pointer" onclick="javascript:soundfile('aud/whatisyourname.wav')">
                                <audio data-autoplay src="aud/whatisyourname.wav"></audio>

                                <img src="img/woman_profile_speaking_bubble_gesture_you-right.gif">
                            
                                <figcaption style="font-size:50%"><span style="color: lightgreen";>waa</span>-ja　noo<span style="color: red">-di-du</span> <span style="color:lightgreen">anzj</span><span style="color:red">ooru</span>-kajaa？</figcaption>
                            
                            </figure>
                            
                            <!-- Nest the figures to have the image appear at an index and disappear at another -->
                            <!-- Fade in at 1 -->
                            <figure class="fragment" data-fragment-index="1">
                                <!-- Fade out at 3 -->
                                <figure class="fragment fade-out" data-fragment-index="3">

                                    <img src="img/woman_profile-right.png">

                                    <!-- Here there is no "caption" to keep the image from jumping -->
                                    <!-- The color is the background color -->
                                    <figcaption style="font-size:50%;color:#191919">.</figcaption>
                                
                                </figure>
                            </figure>

                            <figure class="fragment" data-fragment-index="3">

                                <span style="cursor:pointer" onclick="javascript:soundfile('aud/nicetomeetyou-f.wav')">
                                <audio data-autoplay src="aud/nicetomeetyou-f.wav"></audio>

                                <img src="img/woman_profile_speaking_bubble-right.gif">
                                
                                <figcaption style="font-size:50%;color:lightgreen">doodin miisi taboon-naara</figcaption>
                            
                            </figure>

                        </div>

                    </div>

                    <!-- Right column: the male speaker -->
                    <div class="col">

                        <!-- <span class="fragment" data-fragment-index="0" style="cursor:pointer" onclick="javascript:soundfile('lessons/2/gusi.wav')">

                        <audio data-autoplay src="../../webapp/audio/lessons/2/gusi.wav"></audio> -->

                        <div class="r-stack">
                        
                            <figure class="fragment fade-out" data-fragment-index="1">
                                <img src="img/man_profile.png">
                                <figcaption style="font-size:50%;color:#191919">.</figcaption>
                            </figure>
                            <figure class="fragment current-visible" data-fragment-index="1">
                                <span style="cursor:pointer" onclick="javascript:soundfile('aud/iamtanee.wav')">
                                <audio data-autoplay src="aud/iamtanee.wav"></audio>
                                <img src="img/man_profile_speaking_bubble_gesture_me.gif">
                                <figcaption style="font-size:50%"><span style="color:lightgreen">baa</span>-ja Tanee<span style="color: red">-di-du</span> <span style="color:lightgreen">anzy</span>-ju</figcaption>
                            </figure>
                            <figure class="fragment fade-in-then-out" data-fragment-index="2">
                                <span style="cursor:pointer" onclick="javascript:soundfile('aud/nicetomeetyou-m.wav')">
                                <audio data-autoplay src="aud/nicetomeetyou-m.wav"></audio>
                                <img src="img/man_profile_speaking_bubble.gif">
                                <figcaption style="font-size:50%;color:lightgreen">doodin miisi taboon-naara</figcaption>
                            </figure>
                            <figure class="fragment" data-fragment-index="3">
                                <img src="img/man_profile.png">
                                <figcaption style="font-size:50%;color:#191919">.</figcaption>
                            </figure>

                        </div>

                    </div>

                </div>
            
            </section>

            <!-- Review-->

            <section id="vocabreview">

            	What do the following words mean?

            	<br>

                <!-- Make table to show words -->
            	<table>

                    <tr>
                        <!-- Words -->
                        <td> <span class="fragment" data-fragment-index="1" style="cursor:pointer" onclick="javascript:soundfile('aud/dog.wav')"><audio data-autoplay src="aud/dog.wav"></audio>in</span> 
                        <br> <span class="fragment" data-fragment-index="3" style="cursor:pointer" onclick="javascript:soundfile('aud/cat.wav')"><audio data-autoplay src="aud/cat.wav"></audio>majaa</span> 
                        <br> <span class="fragment" data-fragment-index="5" style="cursor:pointer" onclick="javascript:soundfile('aud/banana.wav')"><audio data-autoplay src="aud/banana.wav"></audio>syma basonnary</span> 
                        <br> <span class="fragment" data-fragment-index="7" style="cursor:pointer" onclick="javascript:soundfile('aud/alcohol.wav')"><audio data-autoplay src="aud/alcohol.wav"></audio>gushi</span>
                        <br> <span class="fragment" data-fragment-index="9" style="cursor:pointer" onclick="javascript:soundfile('aud/me.wav')"><audio data-autoplay src="aud/me.wav"></audio>baa</span> 
                        <br> <span class="fragment" data-fragment-index="11" style="cursor:pointer" onclick="javascript:soundfile('aud/you.wav')"><audio data-autoplay src="aud/you.wav"></audio>waa</span> 
                        <br> <span class="fragment" data-fragment-index="13" style="cursor:pointer" onclick="javascript:soundfile('aud/3sg.wav')"><audio data-autoplay src="aud/3sg.wav"></audio>anzy</span>
                        <br> <span class="fragment" data-fragment-index="15" style="cursor:pointer" onclick="javascript:soundfile('aud/speak.wav')"><audio data-autoplay src="aud/speak.wav"></audio>naa</span> 
                        <br> <span class="fragment" data-fragment-index="17" style="cursor:pointer" onclick="javascript:soundfile('aud/uree.wav')"><audio data-autoplay src="aud/uree.wav"></audio>uree</span> 
                        <br> <span class="fragment" data-fragment-index="19" style="cursor:pointer" onclick="javascript:soundfile('aud/what.wav')"><audio data-autoplay src="aud/what.wav"></audio>noo</span> 
                        <br> <span class="fragment" data-fragment-index="21" style="cursor:pointer" onclick="javascript:soundfile('aud/nicetomeetyou-f.wav')"><audio data-autoplay src="aud/nicetomeetyou-f.wav"></audio>doodin miisi taboon-naara</span> 
                        </td>

                        <!-- Meanings -->
                        <td> <span class="fragment" data-fragment-index="2">dog</span> 
                        <br> <span class="fragment" data-fragment-index="4">cat</span>
                        <br> <span class="fragment" data-fragment-index="6">(island) banana</span>
                        <br> <span class="fragment" data-fragment-index="8">alcohol</span>
                        <br> <span class="fragment" data-fragment-index="10">I, me</span>
                        <br> <span class="fragment" data-fragment-index="12">you</span>
                        <br> <span class="fragment" data-fragment-index="14">s/he, they</span>
                        <br> <span class="fragment" data-fragment-index="16">speak, say</span>
                        <br> <span class="fragment" data-fragment-index="18">this, that</span>
                        <br> <span class="fragment" data-fragment-index="20">what</span>
                        <br> <span class="fragment" data-fragment-index="22">nice to meet you</span>

                        </td>
                    </tr>
                </table>

            </section>

            <section id="reviewlink">

                <a href="../../lessons/1/review.html">Let's review!</a>

            </section>

		</div>

	</div>

    <!-- Copy same header/footer onto every slide -->
    <style type="text/css">
        /* 1. Style header/footer <div> so they are positioned as desired. */
        #header-left {
            position: absolute;
            top: 0%;
            left: 0%;
        }
        #header-right {
            position: absolute;
            top: 0%;
            right: 0%;
        }
        #footer-left {
            position: absolute;
            bottom: 3%;
            left: 2%;
            z-index: 100;
        }
        #footer-right {
            position: absolute;
            bottom: 3%;
            right: 2%;
            z-index: 100;
        }
    </style>

    <!-- 2. Create hidden header/footer <div> -->
    <div id="hidden" style="display:none;">
        <div id="header">
            <div id="footer-left">
                <a class="local" href="#/contents">Contents</a>
            </div>

            <div id="footer-right">
                <a href="..">Lessons</a>
            </div>

        </div>
    </div>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Javascript -->
    <script type="text/javascript">
        // 3. On Reveal.js ready event, copy header/footer <div> into each `.slide-background` <div>
        var header = $('#header').html();
        if ( window.location.search.match( /print-pdf/gi ) ) {
            Reveal.addEventListener( 'ready', function( event ) {
                $('.slide-background').append(header);
            });
        }
        else {
            $('div.reveal').append(header);
       }
    </script>

    <!-- Scripts for reveal -->
    <script src="../../webapp/libraries/reveal.js-master/dist/reveal.js"></script>
    <script src="../../webapp/libraries/reveal.js-master/plugin/notes/notes.js"></script>
    <script src="../../webapp/libraries/reveal.js-master/plugin/markdown/markdown.js"></script>
    <script src="../../webapp/libraries/reveal.js-master/plugin/highlight/highlight.js"></script>

    <script>
        // More info about initialization & config:
        // - https://revealjs.com/initialization/
        // - https://revealjs.com/config/
        Reveal.initialize({
            hash: true,

            // Learn about plugins: https://revealjs.com/plugins/
            plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ],

            // Where to place controls (bottom-right or edges)
            controlsLayout: 'edges',
        });
    </script>

    <!-- Plays audio -->        
    <script src="../../webapp/js/audio.js"></script> 
    <!-- Anchor from local link rather than base -->
    <script src="../../webapp/js/localanchor.js"></script>

</body>

</html>
